@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* =============== Universal Style =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #334155;
  --secondary-color: #64748b;
  --dark-color: #0f172a;
  --fill-color: #0284c7;
}

/* =============== General Style ============ */
p {
  font-weight: 500;
}

.aboutme-section,
.portfolio-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.about,
.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-text,
.portfolio-text {
  width: 100%;
  margin-bottom: 4rem;
  padding: 0 2rem;
}

.about-text h2,
.portfolio-text h2 {
  color: var(--fill-color);
  text-transform: uppercase;
  font-size: 1rem;
}

.about-text h3,
.portfolio-text h3 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.about-text p,
.portfolio-text p {
  color: var(--dark-color);
}

/* =============== Navigation Style =============== */
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
}

.nav-bar.scrolled {
  box-shadow: 2px 2px 5px 2px rgba(53, 53, 54, 0.3);
  background-color: var(--fill-color);
}

.logo-text {
  color: var(--dark-color);
  font-family: 'Cascadia Code', monospace;
  font-weight: 700;
  font-size: 1.3rem;
}

.logo-text.scrolled {
  color: #ffffff;
}

.desktop-nav-link,
.mobile-nav-link {
  font-weight: 600;
  color: var(--primary-color);
}

.desktop-nav-link:hover,
.mobile-nav-link:hover {
  color: var(--fill-color);
  transition: all 0.3s ease-in-out;
  font-weight: 800;
}

/* =============== Hamburger Style =============== */
.hamburger-menu {
  cursor: pointer;
}

.line {
  height: 2px;
  width: 25px;
  margin: 0.4rem 0;
  background-color: #334155;
  transition: transform 0.5s ease;
}

.color-change:hover {
  background-color: var(--fill-color);
}

.change .line1:nth-child(1) {
  transform: rotate(-43deg) translate(-5px, 6px);
}

.change .line2:nth-child(2) {
  opacity: 0;
}

.change .line3:nth-child(3) {
  transform: rotate(43deg) translate(-5px, -6px);
}

/* =============== Dropdown Menu Style =============== */
.dropdown {
  background-color: #ffffff;
  width: 100%;
  top: 3rem;
  left: 0;
  position: absolute;
  z-index: 2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 5px 5px rgba(162, 162, 167, 0.3);
}

.dropdown.scrolled {
  position: fixed;
}

.mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
}

/* =============== Hero Section Style =============== */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  margin-bottom: 5px;
  color: var(--primary-color);
}

.text-highlight {
  color: var(--fill-color);
}

.hero h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--secondary-color);
}

.hero p {
  color: var(--dark-color);
  margin-bottom: 25px;
}

button {
  background-color: var(--fill-color);
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 9rem;
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

button:hover {
  opacity: 0.8;
  color: #f1f5f9;
  cursor: pointer;
  box-shadow: -1px 3px 5px rgba(42, 42, 44, 0.4);
  transition: all 0.3s ease-in-out;
}

/* =============== Aside Style =============== */
aside {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 40px;
}

.hero-img {
  border-top-right-radius: 50%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 5px;
  box-shadow: -2px 4px 10px 2px rgba(42, 42, 44, 0.4);
  background-color: var(--fill-color);
}

.social-icon a svg {
  width: 100%;
  max-width: 1.5rem;
  margin-bottom: 0.5rem;
  fill: var(--primary-color);
}

.social-icon a svg:hover {
  fill: var(--fill-color);
  transition: all 0.3s ease-in-out;
}

/* =============== About Me Style =============== */
.aboutme-section {
  background-color: #f1f5f9;
}

.frontend-skill h4,
.backend-skill h4,
.tools h4 {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
}

.frontend-skill h4 {
  color: #ffffff;
  background-color: #0ea5e9;
}

.backend-skill h4 {
  color: #ffffff;
  background-color: #06b6d4;
}

.tools h4 {
  color: #ffffff;
  background-color: #14b8a6;
}

.fe-item,
.be-item,
.dev-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 4rem;
}

.fe-item svg,
.be-item svg,
.dev-item svg {
  width: 2.5rem;
  height: auto;
}

.fe-item p,
.be-item p,
.dev-item p {
  color: var(--dark-color);
}

.skill-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 15px;
  padding: 2rem;
}

.html {
  fill: #e34f26;
}

.css {
  fill: #1572b6;
}

.javascript {
  fill: #f7df1e;
}

.tailwind {
  fill: #06b6d4;
}

.react {
  fill: #61dafb;
}

.express {
  fill: #000000;
}

.postgresql {
  fill: #4169e1;
}

.vscode {
  fill: #007acc;
}

.git {
  fill: #f05032;
}

.github {
  fill: #181717;
}

.figma {
  fill: #f24e1e;
}

/* =============== Portfolio Style =============== */
.portfolio-section {
  background-color: #ffffff;
}

.porto-item {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 48px;
}

.porto-item img {
  width: 100%;
  max-width: 100%;
  box-shadow: -1px 1px 8px 1px rgba(42, 42, 44, 0.4);
  border-radius: 10px;
  margin-bottom: 10px;
}

.porto-item h4 a {
  color: var(--dark-color);
  font-size: 1.2rem;
}

.porto-item h4 a:hover {
  color: var(--fill-color);
}

.porto-item p {
  color: var(--secondary-color);
}

/* =============== Responsive Style =============== */
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    max-width: 85%;
  }

  .mobile {
    padding: 1rem 1.5rem;
  }

  .hero-container {
    padding: 0 2rem;
  }

  .hero-img {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .hero-img {
    width: 45%;
  }

  .hero-container {
    padding: 0 5rem;
  }

  .aboutme-section {
    background-color: #f1f5f9;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .portfolio-section {
    padding: 0;
  }

  .aboutme-section,
  .portfolio-section {
    text-align: center;
  }

  .about-container,
  .portfolio-container {
    width: 85%;
  }

  .about-text,
  .portfolio-text {
    padding: 0;
  }

  .skill {
    box-shadow: -2px 2px 10px 2px rgba(42, 42, 44, 0.4);
    border-radius: 10px;
    background-color: #ffffff;
  }

  .frontend-skill h4 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .about-text h2,
  .portfolio-text h2 {
    font-size: 1.1rem;
  }

  .about-text h3,
  .portfolio-text h3 {
    font-size: 2rem;
  }

  .porto-item {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
    width: 45%;
  }

  .portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    width: 85%;
  }

  .mobile {
    padding: 1rem 3.5rem;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero h4 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .dropwdown {
    display: none;
  }

  nav {
    width: 85%;
  }

  .desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4rem 0;
    gap: 2rem;
  }

  .hamburger-menu {
    display: none;
  }

  .hero-section {
    margin-top: 20rem;
    margin-bottom: 20rem;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding: 0;
  }

  aside {
    margin-bottom: 0;
    margin-right: 2rem;
    justify-content: space-between;
  }

  .hero {
    margin-right: 0;
  }

  .about-text,
  .portfolio-text {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .hero-img {
    min-width: 70%;
    width: 20rem;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero h4 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  nav {
    width: 70%;
  }

  .hero-img {
    width: 60%;
  }

  aside {
    margin-right: 0;
    width: 100%;
    min-width: 20rem;
    height: auto;
    justify-content: space-between;
  }

  .hero {
    width: 100%;
    max-width: 50%;
  }

  .hero h1 {
    font-size: 2.7rem;
  }

  .hero h4 {
    font-size: 1.7rem;
  }

  .hero-container {
    gap: 3rem;
    width: 70%;
  }

  .about-container,
  .portfolio-container {
    width: 70%;
  }
}
