@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* =============== Universal Style =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #334155;
  --secondary-color: #64748b;
  --dark-color: #0f172a;
  --hover-color: #14b8a6;
}

/* =============== Navigation Style =============== */
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
}

.nav-bar.scrolled {
  box-shadow: 2px 2px 5px 2px rgba(53, 53, 54, 0.3);
  background-color: #14b8a6;
}

.logo-text {
  color: var(--dark-color);
  font-family: 'Cascadia Code', monospace;
  font-weight: 700;
  font-size: 1.3rem;
}

.logo-text.scrolled {
  color: #ffffff;
}

.nav-link {
  font-weight: 600;
  color: var(--primary-color);
}

.nav-link:hover {
  color: var(--hover-color);
  transition: all 0.3s ease-in-out;
  font-weight: 800;
}

/* =============== Hamburger Style =============== */
.hamburger-menu {
  cursor: pointer;
}

.line {
  height: 2px;
  width: 25px;
  margin: 0.4rem 0;
  background-color: #334155;
  transition: transform 0.5s ease;
}

.color-change:hover {
  background-color: var(--hover-color);
}

.change .line1:nth-child(1) {
  transform: rotate(-43deg) translate(-5px, 6px);
}

.change .line2:nth-child(2) {
  opacity: 0;
}

.change .line3:nth-child(3) {
  transform: rotate(43deg) translate(-5px, -6px);
}

/* =============== Dropdown Menu Style =============== */
.dropdown {
  background-color: #ffffff;
  width: 100%;
  top: 3rem;
  left: 0;
  position: absolute;
  z-index: 2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 5px 5px rgba(162, 162, 167, 0.3);
}

.dropdown.scrolled {
  position: fixed;
}

.mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
}

/* =============== Hero Section Style =============== */
.hero-section {
  margin-top: 15rem;
  margin-bottom: 15rem;
  max-height: 100vh;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  margin-bottom: 5px;
  color: var(--primary-color);
}

.text-highlight {
  color: var(--hover-color);
}

.hero h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--secondary-color);
}

.hero p {
  color: var(--dark-color);
  margin-bottom: 25px;
}

button {
  background-color: var(--hover-color);
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 9rem;
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

button:hover {
  background-color: #0d9488;
  cursor: pointer;
  box-shadow: -1px 3px 5px rgba(42, 42, 44, 0.4);
  transition: all 0.3s ease-in-out;
}

/* =============== Aside Style =============== */
aside {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 40px;
}

.hero-img {
  border-radius: 50%;
  box-shadow: -2px 4px 10px 2px rgba(42, 42, 44, 0.4);
  background-color: var(--hover-color);
}

.social-icon a svg {
  width: 100%;
  max-width: 1.5rem;
  margin-bottom: 0.5rem;
  fill: var(--primary-color);
}

.social-icon a svg:hover {
  fill: var(--hover-color);
  transition: all 0.3s ease-in-out;
}

/* =============== Tech Stack Section Style =============== */
.skills-text {
  padding: 0 3rem;
  text-align: center;
}

.skills-text h2 {
  color: var(--primary-color);
}

.skills-text p {
  color: var(--dark-color);
}

/* =============== Responsive Style =============== */
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    max-width: 85%;
  }

  .mobile {
    padding: 1rem 1.5rem;
  }

  .container {
    padding: 0 2rem;
  }

  .hero-img {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .hero-img {
    width: 45%;
  }

  .container {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    max-width: 85%;
  }

  .mobile {
    padding: 1rem 3.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero h1 {
    font-size: 1.9rem;
  }

  .hero h4 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .dropwdown {
    display: none;
  }

  nav {
    max-width: 80%;
  }

  .desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4rem 0;
    gap: 2rem;
  }

  .hamburger-menu {
    display: none;
  }

  .hero-section {
    margin-top: 20rem;
    margin-bottom: 20rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    padding: 0;
  }

  aside {
    margin-bottom: 0;
    margin-right: 2rem;
    justify-content: space-between;
  }

  .hero {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .hero-img {
    min-width: 70%;
    width: 20rem;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero h4 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .hero-img {
    width: 60%;
  }

  aside {
    margin-right: 0;
    width: 100%;
    min-width: 20rem;
    height: auto;
    justify-content: space-between;
  }

  .hero {
    width: 100%;
    max-width: 50%;
    padding-right: 5rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h4 {
    font-size: 1.7rem;
  }

  .container {
    gap: 3rem;
  }
}
